.eggc-note-memo {
    & > .section {
        padding-left: 2em;
        margin-bottom: 4em;
        border-left: solid 0.5em $secondary;

        & > .section {
            margin-bottom: 3em;
        }
    }

    h1, h2, h3 {
        a {
            text-decoration: none;
            color: $body-color;
        }
    }
}
