.eggc-note-memo {
    & > .section {
        padding-left: 2rem;
        margin-bottom: 4rem;
        border-left: solid 0.5rem $light;

        & > .section {
            margin-bottom: 3rem;
        }
    }

    pre.comment { display: none }

    h1, h2, h3 {
        a {
            text-decoration: none;
            color: $body-color;
        }
    }
}
