.eggc-note-memo {
    h1, h2, h3 {
        scroll-margin-top: 4rem;
        a {
            text-decoration: none;
            color: $body-color;
        }
    }

    h1:not(:first-child) {
        margin-top: 3rem;
    }

    h2:not(:first-child) {
        margin-top: 2rem;
    }
}
