@charset "utf-8";

$font-family-base: "x12y16pxMaruMonica";
$font-size-base: 16;

@import 'bootstrap';

div#__next {
    margin-top: 3rem;
}

html {
    font-family: "x12y16pxMaruMonica", serif;
    src: url("/marumonica.woff");
    -webkit-font-smoothing: none;
    font-smooth: never;
}

h1 { font-size: 32px; font-weight: normal; }
h2 { font-size: 24px; font-weight: normal; }
h3, p, li { font-size: 16px; }
code {
    font-family: monospace;
    -webkit-font-smoothing: auto;
    font-smooth: auto;
}

main {
    min-height: 80%;
}

center {
    margin: 2rem;
}

.eggc-post-container {
    .section:first-child {
        padding-top: 0;
    }
}

.eggc-diary {
    h1 {
        font-size: 16px;
    }
}

.is-directory {
    &:after {
        content: "/";
    }
}
