@charset "utf-8";
@font-face {
    font-family: "MaruMonica";
    src: url("/marumonica.woff");
}

$font-family-base: "MaruMonica";
$font-size-base: 16;

@import 'bootstrap';

div#__next {
    margin-top: 3rem;
}

html {
    -webkit-font-smoothing: none;
    font-smooth: never;
}

h1 { font-size: 32px; font-weight: normal; }
h2 { font-size: 24px; font-weight: normal; }
h3, p, li { font-size: 16px; }
code {
    font-family: monospace;
    -webkit-font-smoothing: auto;
    font-smooth: auto;
}

main {
    min-height: 80%;
}

center {
    margin: 2rem;
}

.eggc-post-container {
    .section:first-child {
        padding-top: 0;
    }
}

.eggc-diary {
    h1 {
        font-size: 16px;
    }
}

.is-directory {
    &:after {
        content: "/";
    }
}

.page-title {
    width: 100%;
    border-bottom: 2px solid;
}

// https://www.tagindex.com/color/color_wheel.html
.month-1 { border-left: 4px solid #00ffff; }
.month-2 { border-left: 4px solid #0080ff; }
.month-3 { border-left: 4px solid #0000ff; }
.month-4 { border-left: 4px solid #8000ff; }
.month-5 { border-left: 4px solid #ff00ff; }
.month-6 { border-left: 4px solid #ff0080; }
.month-7 { border-left: 4px solid #ff0000; }
.month-8 { border-left: 4px solid #ff8000; }
.month-9 { border-left: 4px solid #ffff00; }
.month-10 { border-left: 4px solid #80ff00; }
.month-11 { border-left: 4px solid #00ff00; }
.month-12 { border-left: 4px solid #00ff80; }
