@charset "utf-8";
@import "~bulma/bulma";

/* コードブロックの中で bulma のスタイルは効かせない */
code > span.number {
    all: unset;
}

div#__next {
    margin-top: 3rem;
    font-family: 'Kiwi Maru', serif;
}

main {
    min-height: 80%;
}

center {
    margin: 2rem;
}

span.tag {
    float: right;
}

// 無いほうが見栄え良い気がするので
footer, nav.navbar {
    display: none;
}

aside {
    position: fixed;
}

.eggc-post-container {
    .section:first-child {
        padding-top: 0;
    }
}

.eggc-diary {
    .section {
        padding: 2rem;
    }

    h1 {
        font-weight: normal;
        font-size: 1rem;
        float: left;
    }
    p, pre, blockquote {
        margin-left: 10rem;
    }
    ul {
        margin-left: 12rem;
    }
}
