// えんじ色 https://encycolorpedia.jp/b3424a
$primary: #b3424a;
$secondary: #c86a71;
$info: #f9c1cf;
$light: #f7f6f5;
$dark: #504946;

$font-family-base: 'inherit';
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 1.5;
$h2-font-size: $font-size-base * 1.25;
$h3-font-size: $font-size-base;
$h4-font-size: $font-size-base;
$h5-font-size: $font-size-base;

$nav-pills-border-radius: 0;
